@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  max-width: 560px; /* Center main app content */
  margin: 0 auto;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

@theme {
  --breakpoint-xs: 260px;
  --breakpoint-ss: 375px;
  --breakpoint-sm: 412px;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

}
